body {
  margin: 0;
  background: #e4ebf5;
}

.alignItemsCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
}
.alignItemsCenterJustifyContentCenter{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: fit-content;
  padding: 10px;
}

/* ._1gluf{
  width: 100px;
  white-space: normal;
} */
table._1gluf{
  white-space: normal;
}